<div class="loop-section">
  {{^is "author, tag"}}
  <div id="loop-subtitle-home" class="loop-subtitle global-title-wrap">
    <h3 id="loop-title-home" class="global-title-large">
      Our most recent
    </h3>
    <div class="unique-container">
      <h3 class="global-title-large unique-dynamic-word typing-animation" id="dynamic-word"></h3>
    </div>
    {{#get "authors" limit="5" include="count.posts" order="count.posts desc"}}
    {{!--<div class="loop-authors global-authors">
      {{#foreach authors to="4000"}}
      <div class="global-author-item{{#if profile_image}} is-image global-image{{/if}}{{#if @last}} is-last{{/if}}">
        <a href="{{url}}" class="global-link" title="{{name}}"></a>
        {{#if profile_image}}
        {{>images/archive_image archive_image=profile_image alt=name}}
        {{else}}
        <span>{{name}}</span>
        {{/if}}
      </div>
      {{/foreach}}
      {{#foreach authors}}
      {{#if @last}}
      {{#has number="1"}}
      <span>{{t "Meet our author"}}</span>
      {{else has number="2,3,4"}}
      <span>{{t "Meet our authors"}}</span>
      {{else}}
      <span>{{t "Meet our top authors"}}</span>
      {{/has}}
      {{/if}}
      {{/foreach}}
    </div> --}}
    {{/get}}
  </div>
  {{/is}}
  <div class="loop-wrap">
    {{#foreach posts}}
    {{>item show_tags=true}}
    {{/foreach}}
  </div>
</div>

